{% extends 'base.html' %}

{% block title %}
Add a workout
{%endblock%}

{% block body %}
<div class="container mt-5 col-md-6">
    <h1>Adding a workout video.</h1>
    <form method="POST">
        {{ new_workout.title(class="form-control", placeholder="Add a title") }}<br>
        {{ new_workout.description(class="form-control", placeholder="Add a title", cols="10", rows="3") }}<br>
        {{ new_workout.category.label }}<br>
        {{new_workout.category(class="form-select", style="width:auto;")}}<br>
        {{ new_workout.url(class="form-control", placeholder="Add a URL", pattern="https://.*") }}<br>
        {{ new_workout.duration(class="form-control", placeholder="Add a duration") }}<br>
        {{new_workout.submit(class="btn btn-success")}}
    </form>
</div>

{% endblock %}