{% extends 'base.html' %}

{% block title %}
Edit a workout
{%endblock%}

{% block body %}
<div class="container mt-5 col-md-6">
    <h1>Adding a workout video.</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Add a title" required>{{ workout.title }}<br>
        <textarea name="description" id="description" cols="10" rows="3" class="form-control"
                  placeholder="Add a description" required></textarea><br>
        <label for="category">Workout category:</label>
        <select name="category" id="category" class="form-select" >
            <option value="upper">Upper Body</option>
            <option value="lower">Lower Body</option>
            <option value="core">Core</option>
            <option value="full">Full Body</option>
        </select><br>
        <input type="url" name="url" id="url" class="form-control" placeholder="Add a URL" pattern="https://.*" required>{{ workout.url }}<br>
        <input type="submit" class="btn btn-success" value="Send"><br>
    </form>
</div>

{% endblock %}